.to-do-App__h1 {
    font-size: 4rem;
}

.to-do-App button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    /* это что делает? */
    transition: background-color 0.5 ease;    
    /* это что делает? */

}

.to-do-App__Add-btn {
    background-color: rgb(1, 11, 97);
}
.to-do-App__Add-btn:hover {
    transition: 0.5s;
    background-color: rgb(0, 34, 128);
}
.to-do-App__Area-Input input{
    padding: 20px;
}
